/* Layout */
#header {
    background: url("../img/header_bg.jpg") repeat-x center top;
}

#nav{
    background-color: #fcfcfc;
}

#title{
    background-color: #eaf7fd;
}

#contents .container{
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

#cont_left {
    float: left;
    width: 250px;
}

#cont_center {
    overflow: hidden;
    margin-right : 250px;
    height: 1300px;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

#cont_right {
    position : absolute;
    top:0;
    right:0;
    width: 250px;
}

#footer {
    border-top: 1px solid #dbdbdb;
}

/* container */
.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* header */
.header{
    height: 327px;
}

.header .header_menu{
    text-align: right;
    font-family: 'Abel', sans-serif;
}

.header .header_menu a{
    color:#fff;
    display: inline-block;
    padding: 8px 0 0 8px;
    transition: color 0.3s ease; /* 0.3초간 ease효과  */
    
}

.header .header_menu a:hover{
    color:#ccc;
}

.header .header_tit{
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
    font-family: 'Abel', sans-serif;
    
}

.header .header_tit h1{
    font-size: 30px;
    color : white;
    background-color: #51b0dc;
    display: inline-block;
    padding: 5px 30px 5px 30px;
    font-weight: 900;
    letter-spacing: 2px;

    transition: box-shadow 0.25s ease-in-out; /* box-shadow에게 transition 적용 */
}

.header .header_tit h1:hover{
    box-shadow : 
        inset -10em 0 0 0 #257fac,
        inset 10em 0 0 0 #257fac;
         /*
        - inset : 박스 내부에 적용 
        - 안쪽으로만 반대방향으로(-9em) 수축
        - 색 #257fac
     */
}

.header .header_tit a{
    font-size: 14px;
    color : white;
    background-color: #4a94bf;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: -6px;
    font-weight: 400;
    transition: box-shadow 0.25s ease-in; /*box-shadow의 효과를 0.25초동안 ease-in-out 효과가 일어나게함 */
}

.header .header_tit a:hover{
    box-shadow : 
        inset 0 0 0 5px rgba(75,154,191,0.9),
        inset 0 0 0 100px rgba(0,0,0,0.1); /* 테두리 */

}

.header .header_icon{
    text-align: center;
    margin-top: 40px;
    padding-bottom : 45px;
}

.header .header_icon li{
    display: inline;
    margin : 1px 6px;
}

.header .header_icon li a{
    position: relative;
    background: #3192bf;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color : #fff;
    display: inline-block;
    font-size : 35px;
    line-height : 60px;
}

.header .header_icon li i{
    margin-left: -8px;
}


.header .header_icon li a span{ 
    position: absolute;
    left: 50%;
    top : -40%;
    width: 60px;
    font-size : 10px;
    line-height: 1.6;
    transform : translateX(-50%);
    transition: all 0.3s ease;
    background-color: #3192bf;
    border-radius: 5px 0;
    opacity: 0;
}

.header .header_icon li a span:before{ 
    content : '';
    position : absolute;
    left: 40%;
    bottom : -5px;
    border-top:5px solid #3192bf;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
}

.header .header_icon li a:hover span{ 
    opacity: 1;
    top: -30px; /*애니메이션이 top -30px로 올라가는 것으로 출력*/

}

.header .header_icon li a:hover {
    box-shadow: 
       inset 0 0 0 3px rgba(152, 211, 238, 0.9), /*테두리*/
       inset 0 0 0 3px rgba(0,0,0, 0.3);
    
}

/* nav : 전체 메뉴 */
.nav{
    overflow: hidden;
    padding : 25px 0;
}

.nav > div {
    float: left;
    width: 40%;
}

.nav > div:last-child {
    width: 20%;
}

.nav > div ol{
    overflow: hidden;
}

.nav > div li {
    float: left;
    width: 50%;
    position: relative;
    padding-left: 8px;
    padding-bottom : 3px;
    box-sizing:border-box;
}

.nav > div li:before {
    content : '';
    width: 3px;
    height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position : absolute;
    left: 0;
    top: 10px;
}

.nav > div li a{
    position: relative;
}

.nav > div li a:after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #25aad0;
    transition: all 0.2s ease-out;
    position : absolute;
    bottom: 0;
    left: 0;
}

.nav > div li:hover a:after {
    width: 100%;
}

.nav > div li:last-child { /* 마지막 li는 나눠지면 안됨 */
    width: 100%;
}

.nav > div h3 {
    font-size: 18px;
    color: #25a2d0;
    font-weight: bold;
    margin-bottom: 4px;
}

/* article : 타이틀 */
.title{
    text-align: center;
    position: relative;
}

.title h2 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
    color: #0093bd;
    padding-top:5px;
}

.title .btn{
    position: absolute;
    margin-right : 15px;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    background-color: #3192bf;
    color: white;
    font-size: 35px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.title .btn:hover{
    box-shadow: 
        inset 0 0 0 5px rgba(71, 154, 191, 0.9),
        inset 0 0 0 100px rgba(0,0,0,0.1);
}

/* contents */
.column{
    padding:15px;
    border-bottom: 1px solid #dbdbdb;
}

.column .col_tit{
    font-size: 20px;
    color:#2f7fa6;
    padding-bottom:2px;
}

.column .col_desc{
    font-size: 12px;
    border-bottom : 1px dashed #dbdbdb;
    padding-bottom: 10px;
    color: #878787;
    line-height: 1.5;
}

/* col 1. 메뉴 */
.menu{

}

.menu li{
    position: relative;;
}

.menu li a{
    font-size : 16px;
    text-transform: uppercase;
    color: #878787;
    border-bottom : 0.5px solid #dbdbdb;
    padding : 10px;
    display : block;
    transition: box-shadow 0.3s ease, background 0.6s ease;

}

.menu li a:hover{
    box-shadow: inset 180px 0 0 rgba(36, 130, 174, 0.9);
    color: #fff;
    background: rgba(36,130,174,0.9);
}

.menu li a i{
    position : absolute;
    top : 15px;
    right : 10px;
}

/* col 2. 게시판 */

/* notice 1 */
.notice1 {
    position: relative;
}

.notice1 .more{
    position: absolute;
    right: 0;
    top : 3px;
    color: #878787;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 3px;
}

.notice1 h5 {
    font-size: 14px;
    color: #2f7fa6;
}

.notice1 li { /* 한 줄 요소 */
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 7px; /*before 가상요소가 왼쪽에 있으니, left*/
    padding-bottom: 2px;
}

.notice1 li:before { 
    content:"";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #449ce2;
    position: absolute;
    left: 0;
    top: 8px;
}


/* notice 2 */
.notice2{
    position: relative;
}

.notice2 .more{
    position: absolute;
    right: 0;
    top : 3px;
    color: #878787;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 3px;
}

.notice2 h5 {
    font-size: 14px;
    color: #2f7fa6;
}

.notice2 li { /* 두 줄 요소 */
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    /*-webkit이용*/
    -webkit-line-clamp: 2; /* 2줄 효과 : 텍스트 초과시 ... */
    padding-left: 7px; /*before 가상요소가 왼쪽에 있으니, left*/
    padding-bottom: 4px;
    max-height: 40px;
}

.notice2 li:before { 
    content:"";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #449ce2;
    position: absolute;
    left: 0;
    top: 8px;
}

/* blog 1 */
.blog1 img{
    width: 100%;
}

.blog1 .img-retina{
    display:none;
}

/* 화면비율 1.5 이상일 시, retina 활성화 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
    .blog1 .img-retina {display: initial; /*initial : 최초 값*/}
    .blog1 .img-normal {display: none;}
}

/* blog 2 */


/* mediaquery ^/

/* 화면 너비 : 0~1200px */
@media (max-width : 1220px) {
    .container {
        width: 100%;
    }

    .row{
        padding : 0 20px;
    }

    #contents .container{
        border : 0;
    }
}

/* 화면 너비 : 0~1024px */
@media (max-width : 1024px) {

}

/* 화면 너비 : 0~960px */
@media (max-width : 960px) {
    .nav > div {
        float: none;
        width: 100%;
    }

    .nav > div:last-child{
        width: 100%;
    }

    .nav > div li {
        width: 33.3333%;
    }
    
    .nav > div li:last-child {
        width: 33.3334%;
    }
    
    .nav > div ol{
        margin : 10px 0;
    }
}


/* 화면 너비 : 0~768px */
@media (max-width : 768px) {
    #cont_left{
        width: 33.33333%;
    }

    #cont_center{
        width: 33.33333%;
    }

    #cont_right{
        width: 33.33333%;
    }

    .menu{
        width: 100%;
    }
}


/* 화면 너비 : 0~600px */
@media (max-width : 600px) {

    .header {
        height: auto; /* height 값 깨기 */
    }

    .header .header_tit{
        display:none;
    }

    .header .header_icon{
        display:none;
    }

    .nav > div li {
        width: 50%;
    }
    
    .nav > div li:last-child {
        width: 50%;
    }

    .title .btn{
        display: none;
    }

    #cont_left{
        float: none;
        width: 100%;
        height: 10%;
    }

    #cont_center{
        width: 100%;
        height: 10%;
    }

    #cont_right{
        position: static;
        width: 100%;
        height: 10%;
    }
}

/* 화면 너비 : 0~480px */
@media (max-width : 480px) {


}


/* 화면 너비 : 0~320px */
@media (max-width : 320px) {
    .nav > div li {
        width: 100%;
    }
    
    .nav > div li:last-child {
        width: 100%;
    }
}
