/* Layout */
#header {
    background: url("../img/header_bg.jpg") repeat-x center top;
}

#nav{
    background-color: #fcfcfc;
}

#title{
    background-color: #eaf7fd;
}
/* container */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header{
    height: 327px;
}

.header .header_menu{
    text-align: right;
    font-family: 'Abel', sans-serif;
}

.header .header_menu a{
    color:#fff;
    display: inline-block;
    padding: 8px 0 0 8px;
    transition: color 0.3s ease; /* 0.3초간 ease효과  */
    
}

.header .header_menu a:hover{
    color:#ccc;
}

.header .header_tit{
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
    font-family: 'Abel', sans-serif;
    
}

.header .header_tit h1{
    font-size: 30px;
    color : white;
    background-color: #51b0dc;
    display: inline-block;
    padding: 5px 30px 5px 30px;
    font-weight: 900;
    letter-spacing: 2px;

    transition: box-shadow 0.25s ease-in-out; /* box-shadow에게 transition 적용 */
}

.header .header_tit h1:hover{
    box-shadow : 
        inset -10em 0 0 0 #257fac,
        inset 10em 0 0 0 #257fac;
         /*
        - inset : 박스 내부에 적용 
        - 안쪽으로만 반대방향으로(-9em) 수축
        - 색 #257fac
     */
}

.header .header_tit a{
    font-size: 14px;
    color : white;
    background-color: #4a94bf;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: -6px;
    font-weight: 400;
    transition: box-shadow 0.25s ease-in; /*box-shadow의 효과를 0.25초동안 ease-in-out 효과가 일어나게함 */
}

.header .header_tit a:hover{
    box-shadow : 
        inset 0 0 0 5px rgba(75,154,191,0.9),
        inset 0 0 0 100px rgba(0,0,0,0.1); /* 테두리 */

}

.header .header_icon{
    text-align: center;
    margin-top: 40px;
    padding-bottom : 45px;
}

.header .header_icon li{
    display: inline;
    margin : 1px 6px;
}

.header .header_icon li a{
    position: relative;
    background: #3192bf;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color : #fff;
    display: inline-block;
    font-size : 35px;
    line-height : 60px;
}

.header .header_icon li i{
    margin-left: -8px;
}


.header .header_icon li a span{ 
    position: absolute;
    left: 50%;
    top : -40%;
    width: 60px;
    font-size : 10px;
    line-height: 1.6;
    transform : translateX(-50%);
    transition: all 0.3s ease;
    background-color: #3192bf;
    border-radius: 5px 0;
    opacity: 0;
}

.header .header_icon li a span:before{ 
    content : '';
    position : absolute;
    left: 40%;
    bottom : -5px;
    border-top:5px solid #3192bf;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
}

.header .header_icon li a:hover span{ 
    opacity: 1;
    top: -30px; /*애니메이션이 top -30px로 올라가는 것으로 출력*/

}

.header .header_icon li a:hover {
    box-shadow: 
       inset 0 0 0 3px rgba(152, 211, 238, 0.9), /*테두리*/
       inset 0 0 0 3px rgba(0,0,0, 0.3);
    
}

/* nav : 전체 메뉴 */
.nav{
    overflow: hidden;
    padding : 25px 0;
}

.nav > div {
    float: left;
    width: 33.33%;
}

.nav > div:last-child {
    width: 33.34%;
}

.nav > div ol{
    overflow: hidden;
}

.nav > div li {
    float: left;
    width: 50%;
    position: relative;
    padding-left: 8px;
    padding-bottom : 3px;
    box-sizing:border-box;
}

.nav > div li:before {
    content : '';
    width: 3px;
    height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position : absolute;
    left: 0;
    top: 10px;
}

.nav > div li a{
    position: relative;
}

.nav > div li a:after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #25aad0;
    transition: all 0.2s ease-out;
    position : absolute;
    bottom: 0;
    left: 0;
}

.nav > div li:hover a:after {
    width: 100%;
}

.nav > div li:last-child { /* 마지막 li는 나눠지면 안됨 */
    width: 100%;
}

.nav > div h3 {
    font-size: 18px;
    color: #25a2d0;
    font-weight: bold;
    margin-bottom: 4px;
}

/* article : 타이틀 */
.title{
    text-align: center;
    position: relative;
}

.title h2 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
    color: #0093bd;
    padding-top:5px;
}

.title .btn{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    background-color: #3192bf;
    color: white;
    font-size: 35px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.title .btn:hover{
    box-shadow: 
        inset 0 0 0 5px rgba(71, 154, 191, 0.9),
        inset 0 0 0 100px rgba(0,0,0,0.1);
}
@media (max-width : 1220px) {
    .container {
        width: 100%;
    }

    .row{
        padding : 0 20px;
    }
}
